* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #68bbfb, #a94ff3);
    margin: 0;
    padding: 20px;
    color: #333;
}


header {
    background-color: #0056b3;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0px;
}

header .logo img {
    width: 130px;
    height: auto;
}

nav ul {
list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff5bb5;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #0072ff;
    outline: none;
}

button {
    padding: 15px;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005bb5;
}

#alunosList {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #0072ff;
    color: white;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #0072ff;
    text-decoration: none;
}